// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Theme
$theme-color: #FF8000;
$theme-gradient : linear-gradient(135deg, #FF3333, #FF8000);
// $header-bg-color: from #159957 to #155799 (original cayman)

// Text 
$heading-color: #159957; 
$txt-color: #606c71;
$txt-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #1e6bb8;
$bq-txt-color: #819198;
