* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:root {
    /* Custom properties (CSS variables) */
    --topbar-h: 64px;
    --topbar-bg: rgba(0, 0, 0, 0.7); /* Black opaque color */
    --h1-size: 2rem; /* For wide displays */
    --main-txt-color: #333;
    /* End of custom properties */
  }
}

body {
  overflow-x: hidden;
  /* Hereditary properties */
  font-family: 'Advent Pro', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: medium;

  & a {
    color: inherit; /* Anchor elements do not inherit their color by default, other text elements do */
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
      cursor: url('../images/pointer.png'), pointer; /* The fallback keyword is mandatory */
    }
  }

  & h1,
  & h2,
  & h3 {
    font-weight: bold;
  }

  & h1 {
    font-size: var(--h1-size);
  }

  & h2 {
    font-size: calc(var(--h1-size) - 0.5rem);
  }

  & h3 {
    font-size: calc(var(--h1-size) - 0.75rem);
  }

  &>header,
  &>footer {
    color: white;
  }
   
  &>header {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: var(--topbar-h) 2fr 1fr / repeat(2, 1fr) 3fr; /* Shorthand for grid-template-rows and grid-template-columns */
    text-shadow: 0.5px 0.5px 16px black;

    &::before { /* First child of header, not in the DOM tree */
      display: block; /* Needed for respecting the width and height */
      width: 100%;
      height: var(--bg-h);
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      background: url('../images/pillars.jpg') center/cover no-repeat;
      z-index: -1; /* Below the text */
    }

    &>input[type="checkbox"] {
      display: none;
    }

    &>div.topbar {
      grid-row: 1;
      grid-column: 1 / 6;
      background-color: var(--topbar-bg);  
      display: grid;
      grid-template: var(--topbar-h) auto / 5vw auto 1fr auto 5vw;
      align-items: center;
      
      &>img.logo {
        display: inline-block;
        width: auto;
        height: var(--topbar-h);
        grid-row: 1;
        grid-column: 2;
        object-fit: contain;
      }

      &>label[for="nav-btn"] {
        display: none;
      }

      &>nav { 
        grid-row: 1;
        grid-column: 4 / 5;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        column-gap: 1rem;
        font-size: 1.5rem;	

        &>span.current_pg {
          border: 2px solid white;
          border-radius: 8px;
          padding: 4px;
        }
      }
    }

    &>h1 {
      grid-row: 3 / 4;
      grid-column: 2;
      animation-duration: 1.2s;
      animation-iteration-count: 1;
      animation-name: backInLeft; /* 2D stacking context of level */
      animation-timing-function: ease-out;
    }
  }

  &>main {
    width: 100vw;
    height: auto;
    min-height: 50vh;
    position: relative; /* z-index applies only on positioned elements */
    z-index: 1; /* To appear on top of the footer with z-index 0 */
    padding: 2vh 20vw;
    color: var(--main-txt-color);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;	
    row-gap: 1rem;
    
    &>img {
      display: block;
      width: 400px;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      align-self: center;

      &.outro {
        width: 75%;
        height: auto;
        border-radius: 0;
      }
    }
 
    & a {
      color: #060; /* Web safe dark green */

      &.return {
        font-size: 2rem;
        
        &:hover,
        &:active {
          text-decoration: none;
          transform: scale(1.5);
        }
      }
    }

    &>ul, 
    &>ol {
      list-style-position: inside;
    }

    &>ol {
      list-style-type: lower-roman;
    }

    &>iframe {
      width: 300px;
      height: 300px;
      border: 1px solid black;
    }
      
    &.newspaper {
      display: grid;
      grid-template-columns: repeat(auto-fit, 250px);
      grid-gap: 1rem; /* grid-row-gap and grid-column-gap */
      justify-content: center;
          
      &>article {
        /* Allocated width by grid is 250px */
        height: 250px;
        perspective: 800px; /* Needed for perspective flipping */

        & div { /* Accounts for the div.card, div.front, div.back */
          width: 100%;
          height: 100%;
        }
     
        &>div.card {
          border: 2px solid black; /* We need those adjustments here so as to rotate on hover */
          border-radius: 16px;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
          display: grid;
          grid-template: 1fr / 1fr;
          transform-style: preserve-3d;
          transition: transform 1.5s;
          
          &>div {
            grid-row: 1 / 6;
            grid-column: 1;
            backface-visibility: hidden;
            display: grid; 
            grid-template: 2rem repeat(3, 1fr) 2rem / 1fr;
          }

          &>div.front {
            transform: rotateY(0deg);

            &>img, 
            &>h2 {
              grid-column: 1;  /* I need these explicit instructions for vertical stacking */
            }

            &>img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 16px;
              grid-row: 1 / 6;
            }

            &>h2 {
              grid-row: 3 / 4;
              text-align: center;
              text-shadow: 0.5px 0.5px 0 var(--main-txt-color), 1px 1px 0 var(--main-txt-color), 0 0 16px white;
            }
          }

          &>div.back {
            padding: 0.5rem;
            transform: rotateY(180deg);

            &>p,
            &>a {
              grid-column: 1;
            } 
         
            &>p {
              grid-row: 1 / 5;
              overflow: hidden;
            }
          
            &>a {
              grid-row: 5 / 6;
              justify-self: start;
              font-size: 1.5rem;
              border: 2px solid black;
              border-radius: 16px;
              padding: 0 0.5rem;

              &:hover,
              &:focus,
              &:active {
                text-decoration: none; /* Bypass the inherited value */
                background-color: var(--main-txt-color);
                color: white;
              }
            }
          } 
        }
      
        &:hover,
        &:focus,
        &:active {
          &>div.card { /* The hover pseudoclass applies to the article element (which stays fixed) but the div.card is affected */
            transform: rotateY(-180deg);
          }
        }
      }
    } 
  }

  &>footer {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: -2;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #CCC;
 
    & a {
      font-style: oblique;
    }

    &>section { /* Accounts for section.main_info and section.side_info */
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      row-gap: 2rem;
      column-gap: 2rem;
      font-weight: bold;
       
      &.main_info {
        font-size: calc(var(--h1-size) - 0.5rem);
        
        &>section {
          &.icons>img.logo {
            width: auto;
            height: 64px;
            object-fit: cover;
          }

          &.presentation {
            font-size: var(--h1-size);
          }
        }
      }
    }
    
    &>hr {
      border: 1px solid white;
      width: 90%;
    }
  }
}

/* Narrow displays */

@media only screen and (max-width: 768px) {
  *:root {
    --h1-size: 1.75rem;
  }

  body {
    &>header {
      &>div.topbar {
        &>label[for="nav-btn"] {
          grid-row: 1;
          grid-column: 4 / 5;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 2rem;
        
          &:hover,
          &:active {
            color: #CCC; /* Web safe light grey */
          }           
        }

        &>nav {
          display: none;
        }
      }

      &>input[type="checkbox"]:checked {
        &~div.topbar>nav {
          grid-row: 2;
          grid-column: 1 / 6;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          row-gap: 0.5rem;
          text-align: center;
          background-color: var(--topbar-bg);
        }
        
        &~h1 {
          display: none;
        }
      }  
    }

    &>main {
      padding: 2vh 5vw;

      &>img {
        width: 250px;
      }

      &>iframe {
        align-self: center;
      }
    }
  }
}

/* Keyframe animations */

@keyframes backInLeft {
  0% {
    transform: translateX(-100vw) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
} 
