<!DOCTYPE html>
<html lang="{{ page.lang | default: "el" }}">
  <head>
    <meta charset="UTF-8">
    <!-- {% seo %} -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--meta name="theme-color" content="#157878"-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="scrollbox"> <!-- It glides in relation with the body -->
      <header>
        <picture class="background">
          <source srcset="/assets/images/library_2_3.jpg" media="(max-width: 42rem)"> 
          <img src="/assets/images/library_16_9.jpg" class="background">
        </picture>
        <picture class="foreground"> 
          <source srcset="/assets/images/desk_2_3.png" media="(max-width: 42rem)">
          <img src="/assets/images/desk_16_9.png" class="foreground">
        </picture>
        {% include info.html %}
        <div class="bar">
          <!--img src="/assets/images/whale.png" alt="The logo, a cute whale">
          <button><span class="material-symbols-outlined"></span></button-->
          <input type="checkbox" id="toggler" unchecked> <!-- Invisible checkbox -->
        </div>
        <nav></nav>
      </header>
      <main>
        {{ content }}
      </main>
      <footer>        
        {% include info.html %}
        <p>
          Επικοινωνία:<br>
          τηλέφωνο: ...<br>
          email: ...
        </p>
        <p>
          Διεύθυνση:<br>
          ..., ...
        </p>
      </footer>
    </div> <!-- End of scrollbox -->
  </body>
</html>
